.mainNav {
  display: flex;
  width: 60%;
  height: 70px;
  margin: 0 auto;
  align-items: center;
  justify-content: space-between;
}

.nav {
  font-size: 14px;
  font-weight: 600;
  line-height: 22px;
  color: #0D1421;
  display: flex;
  gap: 60px;
  cursor: pointer;
}

.badgeBox {
  display: flex;
  gap: 18px;
  align-items: center;
}

.userName {
  font-size: 12px;
  font-weight: 600;
  line-height: 14px;
  color: #0D1421;
}

.userBadge {
  color: #FFFFFF;
  width: 38px;
  height: 38px;
  font-size: 24px;
  font-weight: 600;
  line-height: 37px;
  background: #3B75A2;
  border-radius: 50%;
  text-align: center;
}
